*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc {
    width: 300px;
    height: 400px;
    background-color: #141414;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display {
    width: 100%;
    height: 20%;
    background-color: #141414;
    color: rgb(255, 255, 255);
    font-size: 2em;
    border: 1px solid #3e3e3e;
    padding: 0px 10px;
    border-radius: 5px 5px 0px 0px;
    outline: none;
}

.input_area {
    width: 100%;
    height: 80%;
    background-color: #141414;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
    border-radius: 5px;
}

button {
    font-size: 1.7em;
    /* border: none; */
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

button:hover {
    background-color: #4e4e4e;
}